.container {
  width: 80%;
  margin: 5em auto;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.novo-socio-btn {
  background-color: #4CAF50 !important;
  color: white !important;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-group {
  justify-content: center;
}

.container-formulario {
  display: grid !important;
}
